<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <br><br>
    <div class="col-md-12">
        <div class="row mb-5">
            <h1 th:text="${isNew?'Create Book':'Update Book'}">Create new Book</h1>
        </div>

        <div class="row">
            <form th:action="${isNew?'/create/submit':'/update/submit'}" method="post" th:object="${book}"
                  enctype="multipart/form-data">
                <div class="form-group row container">
                    <!--<label class="col-sm-2 col-form-label" style="width: 125px;">ID</label>-->
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{id}" type="number" class="form-control" placeholder="id" hidden>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{id}"></span>
                    </div>
                </div>
                <div class="form-group row container">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Title</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{title}" type="text" class="form-control" placeholder="Title">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{title}"></span>
                    </div>
                </div>
                <div class="form-group row container">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Author</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{author}"  type="text" class="form-control" placeholder="Author">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{author}"></span>
                    </div>
                </div>
                <div class="form-group row container">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Publisher</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{publisher}" type="text" class="form-control" placeholder="Publisher">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{publisher}"></span>
                    </div>
                </div>
                <div class="form-group row container" style="display: none">
                    <select th:name="category.id" id="category_id">
                        <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}" hidden>
                            Category
                        </option>
                    </select>
                </div>
                <input type="text" th:field="*{thumbnail}" hidden>
                <input type="file" name="file"> <br><br>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-info float-right" style="margin-left: 300px;">
                </div>
            </form>

        </div>

    </div>


    <style>
        h1 {
            color: #004085;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #33deb5;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>

</div>


</body>
</html>