<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- Page content-->
    <div class="container​" layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1 th:text="#{title}"></h1>
            </div>
        </div>
        <div class="row" style="display: none;">
            <div class="col-md-12">
                <a href="/create">
                    <button type="button" class="btn btn-outline-success" style="width: 255px; float: right; font-size:18px">Create</button>
                </a>
                <a href="/create" class="btn-create">
                    <button type="button" class="btn-create">+</button>
                </a>
                <br>
                <br>
                <table class="table table-hover">
                    <thead class="bg-danger text-light">
                    <tr>
                        <th th:text="#{table.id}" style="width: 10%;"></th>
                        <th th:text="#{table.title}" style="width: 15%;">Title</th>
                        <th th:text="#{table.author}" style="width: 15%;">Author</th>
                        <th th:text="#{table.publisher}" style="width: 15%;">Publisher</th>
                        <th th:text="#{table.category}" style="width: 15%;">Category</th>
                        <th th:text="#{table.thumbnail}" style="width: 15%;">Thumbnail</th>
                        <th th:text="#{table.action}" style="width: 15%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book: ${books}" style="height: 125px;" th:object="${book}">
                        <td>[[${book.id}]]</td>
                        <td th:text="*{title}"></td>
                        <td th:text="*{author}"></td>
                        <td th:text="*{publisher}"></td>
                        <td th:text="*{category.name}"></td>
                        <td>
                            <img style="width: 125px; height: 125px;" th:src="${book.getThumbnail()}" alt="">
                        </td>
                        <td class="action">
                            <a th:href="@{/view/{id}(id=${book.getId()})}">
                                <button type="button" class="btn btn-outline-primary mb-2"><i class="fas fa-eye"></i></button>
                            </a>
                            <a th:href="@{/update/{book_id}(book_id=${book.getId()})}">
                                <button type="button" class="btn btn-outline-secondary mb-2"><i class="fas fa-edit"></i></button>
                            </a>
                            <button type="button" class="btn btn-outline-danger btn-delete mb-2" th:attr="data-id=${book.getId()}">
                                <i class="fas fa-trash-alt"></i>&nbsp;
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <section>
            <!--for demo wrap-->
            <!--<h1>Fixed Table header</h1>-->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <th th:text="#{table.id}" style="width: 5%;"></th>
                        <th th:text="#{table.title}" style="width: 15%;">Title</th>
                        <th th:text="#{table.author}" style="width: 15%;">Author</th>
                        <th th:text="#{table.publisher}" style="width: 15%;">Publisher</th>
                        <th th:text="#{table.category}" style="width: 15%;">Category</th>
                        <th th:text="#{table.thumbnail}" style="width: 15%;">Thumbnail</th>
                        <th th:text="#{table.action}" style="width: 20%;">Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr th:each="book: ${books}" style="height: 125px;" th:object="${book}">
                        <td style="width: 5%;">[[${book.id}]]</td>
                        <td style="width: 15%;" th:text="*{title}"></td>
                        <td style="width: 15%;" th:text="*{author}"></td>
                        <td style="width: 15%;" th:text="*{publisher}"></td>
                        <td style="width: 15%;" th:text="*{category.name}"></td>
                        <td style="width: 15%;">
                            <img style="width: 125px; height: 125px;" th:src="${book.getThumbnail()}" alt="">
                        </td>
                        <td class="action" style="width: 20%;">
                            <a th:href="@{/view/{id}(id=${book.getId()})}">
                                <button class="btn-create"  style="color: rgb(248, 248, 248);"><i class="fas fa-eye"></i></button>
                            </a>
                            <a th:href="@{/update/{book_id}(book_id=${book.getId()})}">
                                <button class="btn-create"  style="color: rgb(248, 248, 248);"><i class="fas fa-pencil-alt"></i></button>
                            </a>
                            <button type="button" style="color: rgb(248, 248, 248);" class="btn-create btn-delete " th:attr="data-id=${book.getId()}">
                                <i class="fas fa-trash-alt"></i>&nbsp;
                            </button>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </section>

        <!-- follow me template -->
        <div class="made-with-love">
            Made with
            <i>♥</i> by Ung Ehan
        </div>


        <style>
            .btn-create{
                background: linear-gradient(135deg, #6e8efb, #a777e3);
                padding: 0.5em 1em;
                border-radius: 45px;
            }
            h1{
                font-size: 30px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 300;
                text-align: center;
                margin-bottom: 15px;
            }
            table{
                width:100%;
                table-layout: fixed;
            }
            .tbl-header{
                background-color: rgba(255,255,255,0.3);
            }
            .tbl-content{
                height:300px;
                overflow-x:auto;
                margin-top: 0px;
                border: 1px solid rgba(255,255,255,0.3);
            }
            th{
                padding: 20px 15px;
                text-align: left;
                font-weight: 500;
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
            }
            td{
                padding: 15px;
                text-align: left;
                vertical-align:middle;
                font-weight: 300;
                font-size: 15px;
                color: #fff;
                border-bottom: solid 1px rgba(255,255,255,0.1);
            }


            /* demo styles */

            @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
            body{
                background: -webkit-linear-gradient(left, #25c481, #25b7c4);
                background: linear-gradient(to right, #25c481, #25b7c4);
                font-family: 'Roboto', sans-serif;
            }
            section{
                margin: 50px;
            }


            /* follow me template */
            .made-with-love {
                margin-top: 40px;
                padding: 10px;
                clear: left;
                text-align: center;
                font-size: 10px;
                font-family: arial;
                color: #fff;
            }
            .made-with-love i {
                font-style: normal;
                color: #F50057;
                font-size: 14px;
                position: relative;
                top: 2px;
            }
            .made-with-love a {
                color: #fff;
                text-decoration: none;
            }
            .made-with-love a:hover {
                text-decoration: underline;
            }


            /* for custom scrollbar for webkit browser*/

            ::-webkit-scrollbar {
                width: 6px;
            }
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
            ::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    </div>




</body>
</html>